[submodule "solar-system"]
	path = solar-system
	url = https://github.com/raven5211/fsa_block06_solar-system.git
[submodule "fullstack-bakery"]
	path = fullstack-bakery
	url = https://github.com/raven5211/fsa_block06_fullstack-bakery.git
[submodule "fsa_block06_flex_practice"]
	path = fsa_block06_flex_practice
	url = https://github.com/raven5211/fsa_block06_flex_practice.git
